*{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input{
    height:25px;
    border-radius:4px;
    border:1px solid black;
}
#btn_grade{
    width:90px;
    height:25px;
    font-size:15px;
    background-color: orange;
    border: none;
    border-radius: 5px;
}
body{
    background-color: rgb(192, 8, 8);
    color:white;
   
}
.inner_container{
   padding:50px;
   margin-top:100px;
    border:1px solid white;
    
   
}
#out_h1{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 50px;
}
#btn_grade:hover{
    border: 1px solid orange;
    background-color: white;
    color:orange;
}
footer {
    background-color:beige;
    height:150px;
    display:flex;
    align-items: center;
}
footer p{
    color:black;
}
